.highlight {
  color: white;
  background-color: black;
  padding: 10px;
  width: 250px;
  text-align: center;
}
section {
  background-color: gainsboro;
  padding: 100px;
  margin: 10px;
  border: solid black;
}
